@model QuizApp.Models.Game

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game Is Over</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/CSS/StyleSheet.css")" />
</head>
<body>
    <h1>@Model.PlayerName</h1>

    @if(@Model.IsWon)
    {
    <p>Congratulation, You have won zillions of Foxes in Bank of Symba.</p>
    }
    else
    {
    <p>We are deeply sorry, You have won only a pleasant experience.</p>
    <p>The correct answer was: @Model.ActualQuestion.Answer1.</p>
    }

</body>
</html>
