@model QuizApp.Models.Question
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/add" method="post">
        <input type="text" id="Answer1" name="Answer1" /> <br />
        <input type="text" id="Answer2" name="Answer2" /> <br />
        <input type="text" id="Answer3" name="Answer3" /> <br />
        <input type="text" id="Answer4" name="Answer4" /> <br />
        <input type="text" id="Text" name="Text" /> <br />
        <button type="submit">Submit</button>
    </form>
</body>
</html>
