﻿@model QuizApp.Models.Game

<!DOCTYPE HTML>
<html>
<head>
    <title>Start Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Who wants to be a millionare?</p>
</body>
</html>
