@model QuizApp.Models.Game

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Start Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>@Model.PlayerName</p>
    <p>@Model.ActualQuestion.Text</p>
    <form action="" method="post">
        @foreach (var answer in Model.ActualQuestion.Answers)
        {
        <input type="hidden" name="Name" value="@answer" />
        <button id="table" class="btn btn-lg active btn-primary" type="submit">@answer</button>
        }
    </form>
</body>
</html>

