<<<<<<< HEAD
﻿<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>
        Nyuszikaaa
    </p>
</body>
</html>
=======
﻿@model QuizApp.Models.Game

<!DOCTYPE HTML>
<html>
<head>
    <title>Start Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Who wants to be a millionare?</p>
</body>
</html>

>>>>>>> 543cce4a7bedb87e71540e22c9c03fac4742f22b
